.board-active-pigs-list {
  background-color: #3b3f51;
  border-top: solid 1px #bfc1d0;
  color: #fff;
  font-weight: 100;
  position: relative;
  z-index: 20;
  padding: 2vw 0 4vw 0;
}

.board-active-pigs-list .board-active-pigs-list-title {
  font-weight: 300;
  color: #a7abbb;
  padding-left: 2vw;
  font-size: 2.7vw;
}

@media screen and (min-width: 900px) {
  .board-active-pigs-list {
    padding: 1em 0 2em 0;
  }
  .board-active-pigs-list .board-active-pigs-list-title {
    padding-left: 1em;
    font-size: 1.6em;
  }
}