.board-voted-pigs-list {
  margin-top: 5vh;
}

.board-voted-pigs-list--title {
  font-size: 3vw;
  font-weight: 300;
  margin-bottom: 2vh;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .board-voted-pigs-list {
    margin-top: 4em;
  }
  .board-voted-pigs-list--title {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
}