.core-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5vw 2vw .5vw 4vw;
}

.core-header h1 {
  font-size: 7vw;
  font-weight: 300;
}

.core-header--avatar {
  border-radius: 3px;
  cursor: pointer;
  padding: 2vw;
}

.core-header--avatar:hover {
  background-color: rgba(37, 153, 76, .2);
}

.core-header--avatar:active {
  background-color: rgba(37, 153, 76, .4);
}

@media screen and (min-width: 600px) {
  .core-header {
    padding: .2em 1em .2em 1.6em;
  }
  .core-header h1 {
    font-size: 2.5em;
  }
  .core-header--avatar {
    padding: .5em;
  }
}