<div class="core-header" [class.core-header-accent-color]="useAccentColor">
  <div class="core-header-brand">
    <img class="core-header-cards" src="/assets/svg/cards.svg">
    <div>Planning poker</div>
  </div>

  <core-workflow-overview [boardKey]="_boardKey" [useAccentColor]="useAccentColor"></core-workflow-overview>

  <core-pig class="core-header-avatar" (click)="openDialog()" [class.hide]="!displayAvatar" [name]="pig?.name"
    [email]="pig?.email" [displayName]="false"></core-pig>
</div>