.pig-cards-deck--content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.pig-cards-deck--cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
}

.pig-cards-deck--infinity {
  height: 8vw;
  width: 8vw;
}

@media screen and (min-width: 600px) {
  .pig-cards-deck--cards {
    font-size: 1.2em;
    width: 30em;
  }
  .pig-cards-deck--infinity {
    height: 1.7em;
    width: 1.7em;
  }
}

@media screen and (min-width: 900px) {
  .pig-cards-deck--cards {
    width: 35em;
  }
}