<div class="core-header-modal">
  <h1 md-dialog-title>Avatar</h1>

  <md-dialog-content class="core-header-modal-content">
    <md-input-container>
      <input type="text" mdInput placeholder="First name" [(ngModel)]="name">
    </md-input-container>

    <md-input-container>
      <input type="email" mdInput placeholder="Email address" [(ngModel)]="email">
    </md-input-container>
  </md-dialog-content>

  <md-dialog-actions class="core-header-modal-actions">
    <button md-button color="warn" tabindex="1" (click)="save()">SAVE</button>
    <button md-button color="primary" md-dialog-close>CANCEL</button>
  </md-dialog-actions>
</div>