.pig-header {
  position: relative;
  display: block;
  flex: 0 0 auto;
  background-color: #0288d1;
  color: #fff;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 20;
  padding: .2em .8em;
  font-weight: 100;
  font-size: 3.5vw;
}

.pig-header .pig-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pig-header .pig-header-logo {
  display: flex;
  align-items: center;
}

.pig-header .pig-header-cards {
  width: 3.7vw;
  height: 3.7vw;
  margin-right: 1vw;
}

.pig-header .pig-name {
  font-size: 2.5vw;
  font-weight: 300;
  color: rgba(255, 255, 255, .7);
  display: flex;
  align-items: center;
  padding: .7vw 1vw;
  border-radius: 2px;
  cursor: pointer;
}

.pig-header .pig-name:hover {
  background: rgba(0, 0, 0, .2);
}

.pig-header .pig-name:active {
  background: rgba(0, 0, 0, .5);
}

.pig-header .pig-name .fa {
  font-size: 5vw;
  margin-left: .3em;
}

@media screen and (min-width: 650px) {
  .pig-header {
    font-size: 1.5em;
  }
  .pig-header .pig-name {
    font-size: .7em;
    padding: .5em 1em;
  }
  .pig-header .pig-name .fa {
    font-size: 2em;
  }
  .pig-header .pig-header-cards {
    width: 1.2em;
    height: 1.2em;
    margin-right: .2em;
  }
}