.pig-card {
  cursor: pointer;
  border-radius: .8vw;
  margin: .8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 12vw;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 1.3vw;
  background: #fdde5f;
}

.pig-card:active {
  opacity: .6;
}

.pig-card .pig-card-content {
  font-size: 2vw;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #fff;
  background: #fdb74a;
}

@media screen and (min-width: 400px) {
  .pig-card-content {
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 900px) {
  .pig-card {
    width: 4em;
    height: 6em;
    padding: .5em;
  }
  .pig-card .pig-card-content {
    font-size: 1.2em;
  }
}