.card {
  align-items: center;
  border: solid 1px #25ad38;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 15vw;
  margin: 1vw;
  width: 15vw;
}

.card:hover {
  background-color: rgba(37, 173, 56, .2);
}

.card:active {
  background-color: rgba(37, 173, 56, .4);
}

.card:active {
  opacity: .6;
}

.card--content {
  align-items: center;
  color: #25ad38;
  display: flex;
  font-size: 4vw;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 400px) {
  .card--content {
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 600px) {
  .card {
    height: 4.8em;
    margin: .5em;
    width: 4.8em;
  }
  .card--content {
    font-size: 1.2em;
  }
}