<div class="pig-sub-header">
  <div class="pig-sub-header-left">
    <div class="pig-sub-header-state">
      <div *ngIf="status === EStatus.REGISTRATION">REGISTRATION</div>
      <div *ngIf="status === EStatus.DISCUSSION">DISCUSSION</div>
      <div *ngIf="status === EStatus.VOTE && !hasVoted">VOTING</div>
      <div *ngIf="status === EStatus.VOTE && hasVoted">WAITING...</div>
      <div *ngIf="status === EStatus.RESULT">RESULT</div>
      <div *ngIf="status === EStatus.FINAL_RESULT">FINAL RESULT</div>
    </div>

    <div class="pig-sub-header-actions" *ngIf="scrumMasterKey && scrumMasterKey === _pigKey">
      <button (click)="setStatus(EStatus.DISCUSSION)" *ngIf="status === EStatus.REGISTRATION">START</button>
      <button (click)="setStatus(EStatus.PRE_VOTE)" *ngIf="status === EStatus.DISCUSSION">VOTE</button>
      <button (click)="setStatus(EStatus.PRE_REVOTE)" *ngIf="status === EStatus.RESULT">RE-VOTE</button>
      <button (click)="setStatus(EStatus.RESULT)" *ngIf="status === EStatus.VOTE">STOP VOTING</button>
      <button (click)="setStatus(EStatus.DISCUSSION)" *ngIf="status === EStatus.RESULT">NEXT</button>
      <button (click)="setStatus(EStatus.FINAL_RESULT)" *ngIf="status === EStatus.RESULT">END</button>
    </div>
  </div>

  <div *ngIf="!scrumMasterKey || scrumMasterKey === _pigKey">
    <md-slide-toggle color="warn" (change)="toggleScrumMaster()" [checked]="_pigKey === scrumMasterKey">
      <div class="pig-scrum-master">Scrum Master</div>
      <div class="pig-scrum-sm">SM</div>
    </md-slide-toggle>
  </div>
</div>