.pig {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.pig .pig-content {
  height: 100%;
  display: flex;
  justify-content: center;
}

.pig .pig-content .pig-content-cards-deck {
  display: flex;
  align-items: center;
  justify-content: center;
}