.board-final-result {
  margin-top: 7vh;
}

.board-final-result .board-fr-title {
  font-weight: 300;
  color: #444;
  font-size: 3.3vw;
  text-align: center;
  margin-bottom: 4vh;
}

.board-final-result .board-fr-results {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-final-result .board-fr-results .board-fr-table {
  color: #f9ffff;
  font-size: 2vw;
}

.board-final-result .board-fr-results .board-fr-table .board-fr-row {
  display: flex;
  background: #505569;
}

.board-final-result .board-fr-results .board-fr-table .board-fr-row .board-fr-header {
  background: #3b3f51;
  width: 15vw;
  padding: 1vw 1.5vw;
  color: #b6bac1;
}

.board-final-result .board-fr-results .board-fr-table .board-fr-row .board-fr-story {
  width: 15vw;
  padding: 1vw 1.5vw;
}

.board-final-result .board-fr-results .board-fr-table .board-fr-row .board-fr-result {
  width: 15vw;
  padding: 1vw 1.5vw;
}

@media screen and (min-width: 800px) {
  .board-final-result {
    margin-top: 4em;
  }
  .board-final-result .board-fr-title {
    font-size: 3em;
    margin-bottom: 1.5em;
    font-size: 1.7em;
  }
  .board-final-result .board-fr-results .board-fr-table {
    font-size: 1em;
  }
  .board-final-result .board-fr-results .board-fr-table .board-fr-row .board-fr-header {
    width: 8em;
    padding: .6em .6em;
  }
  .board-final-result .board-fr-results .board-fr-table .board-fr-row .board-fr-story {
    width: 8em;
    padding: .6em .6em;
  }
  .board-final-result .board-fr-results .board-fr-table .board-fr-row .board-fr-result {
    width: 8em;
    padding: .6em .6em;
  }
}