.core-sub-header--top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2vw 4vw;
}

.core-sub-header--state {
  align-items: center;
  display: flex;
  font-size: 4vw;
  justify-content: space-between;
  margin-right: 1em;
}

.core-sub-header--actions {
  display: flex;
  justify-content: flex-start;
  padding: 4vw;
}

.core-sub-header--actions button {
  background: none;
  border: solid 1px #25ad38;
  color: #25ad38;
  cursor: pointer;
  font-size: 3.7vw;
  margin-right: 2vw;
  padding: 1.5vw .3vw;
  width: 27vw;
}

.core-sub-header--actions button:hover {
  background-color: rgba(0, 0, 0, .2);
}

.core-sub-header--actions button:active {
  background-color: rgba(0, 0, 0, .4);
}

.core-sub-header .mat-slide-toggle {
  height: initial;
}

@media screen and (min-width: 600px) {
  .core-sub-header--top {
    padding: .8em 1.6em;
  }
  .core-sub-header--state {
    font-size: 1.5em;
  }
  .core-sub-header--actions {
    padding: 1.7em;
  }
  .core-sub-header--actions button {
    padding: .5em .4em;
    margin-right: 1em;
    width: 8em;
    font-size: 1.4em;
  }
}