.core-pig {
  display: flex;
  position: relative;
}

.core-pig.core-pig-hide {
  visibility: hidden;
}

.core-pig .core-pig-avatar-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.core-pig .core-pig-avatar-box .core-pig-image {
  border-radius: 50%;
  width: 11vw;
  height: 11vw;
  border-style: solid;
  border-width: .5vw;
  border-color: #25ad38;
}

.core-pig .core-pig-avatar-box .core-pig-image.core-pig-accent-color {
  border-color: #838db7;
}

.core-pig .core-pig-avatar-box .core-pig-name {
  background: #a8dff6;
  color: #e6e4d5;
  font-size: 1vw;
  padding: .3vw .4vw;
  border-radius: 2px;
  width: 13vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  position: absolute;
  bottom: -6px;
}

.core-pig .core-pig-avatar-box .core-pig-name.core-pig-accent-color {
  background: #838db7 !important;
  color: #e6e4d5 !important;
}

.core-pig .core-pig-avatar-box .fa {
  font-size: 11vw;
  border-style: solid;
  border-width: .5vw;
  border-color: #a8dff6;
  border-radius: 50%;
  background: #0288d1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, .3);
}

.core-pig .core-pig-avatar-box .fa.core-pig-accent-color {
  background: #838db7 !important;
  border-color: #838db7;
}

.core-pig .core-pig-badge {
  font-size: 1.6vw;
  background: #e6e4d5;
  color: #0e1f65;
  border-radius: 50%;
  width: 6vw;
  height: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 9vw;
}

.core-pig .core-pig-infinity {
  width: 4vw;
  height: 4vw;
  position: relative;
  left: .1vw;
  top: .3vw;
}

.core-pig .core-pig-badge.hidden {
  visibility: hidden;
}

@media screen and (min-width: 600px) {
  .core-pig .core-pig-avatar-box .core-pig-image {
    width: 4.7em;
    height: 4.7em;
    border-width: .2em;
  }
  .core-pig .core-pig-avatar-box .core-pig-name {
    font-size: .8em;
    padding: .1em .3em;
    width: 8em;
  }
  .core-pig .core-pig-avatar-box .fa {
    font-size: 4.7em;
    border-width: .04em;
  }
  .core-pig .core-pig-badge {
    font-size: 0.7em;
    width: 3.2em;
    height: 3.2em;
    left: 5.5em;
  }
  .core-pig .core-pig-infinity {
    width: 2.2em;
    height: 2.2em;
  }
}