.core-pigs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 8vw;
}

.core-pigs-list core-pig {
  margin: 3vw;
}

@media screen and (min-width: 900px) {
  .core-pigs-list {
    margin: 0 5em;
  }
  .core-pigs-list core-pig {
    margin: 2.5em;
  }
}